---
import Layout from '../layouts/Layout.astro';
import Univ from '../components/Univ.astro';

---

<Layout title="Recursos UCR">
	<main>
		<h1>Elije tu <span class="text-gradient"><br>Universidad</br></span></h1>
		<p class="instructions">
			Página principal de prueba.
		</p>
		
		<ul role="list" class="link-card-grid">
			<Univ
				href='/principal'
				title='Universidad de Costa Rica'
				imagen='/mpf.svg'
			/>

			<Univ
				href='/tec'
				title='Tecnológico de Costa Rica'
				imagen='/mpc.svg'
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.text-gradient2 {
		background-image: var(--accent-gradient2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
	
</style>
