import Layout from '../layouts/Layout.astro';

<Layout tittle="Recursos Universidad">
    <main>
        <h1 class="text-gradient2">Página de Prueba</h1>
        <p>.</p>
        <ul>
            <li>Elemento de lista 1</li>
            <li>Elemento de lista 2</li>
            <li>Elemento de lista 3</li>