---
import Boton from "./boton.astro"
---

<header id="encabezado" class="bar">     
    <nav>
        <ul>
            <Boton
                href="/principal"
                clase="ucr"
                imagen="/UCR.svg"
                atribute="UCR"
                />
                
            <Boton
                href="/tec"
                clase="tec"
                imagen="/TEC.svg"
                atribute="TEC"
            />
            
            <Boton
                href="/menu"
                clase="derecha"
                imagen="/mpd.svg"
                atribute="menu"
            />
        
        </ul>
    </nav>

</header>

<style>
    .encabezado{
        width: 100%;
        position: sticky;
    }
    .bar{
        display: flex;
        margin: initial;
        padding: 0.5rem;
        height: fit-content;
        margin-bottom: 0%;
    }
    nav{
        display: flex;
        width: 80%;
        height: 50%;
        border: 1px;
        border-color: white;
        border-radius: 5%;
        position:relative;
        top: 0%;
    }
    ul{
        display: grid;
        grid-template-columns: auto auto 100% auto;
        grid-template-rows: 50%;
        width: 100%;
        padding: 1%;
        margin: none;
    }
    @media screen and (max-width:600px){
        ul{
        display: grid;
        grid-template-columns: auto auto 25% auto;
        grid-template-rows: 60%;
        width: 100%;
        padding: 1%;
        margin: none;
    }
    }
    
    

</style>